<div class="map-section mdl-typography--text-center">
  <div id="homeVideoWrap" style="background-image: url(https://secure.meetupstatic.com/s/img/45067724571354616365/guest_home/still_6.jpg)">
	<div class="bounds align--center">
		<div class="chunk">
			<h1 class="text--display1">What do you love?</h1>
				<p class="text--big text--heavy">Do more of it with STLC</p>
		</div>
		<a href="https://secure.meetup.com/register/" class="button button--primary text--big j-modal--register">Sign up</a>
	</div>
	<!-- <video src="https://secure.meetupstatic.com/s/img/457419671895069178/guest_home/video.mp4" autoplay="" loop=""></video> -->
  </div>
  <a href="#screens">
    <button class="android-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
      <i class="material-icons">expand_more</i>
    </button>
  </a>
</div>
