<div class="video-section">
  <div class="homeVideoWrapper">
    <video class="homeVideo" src="https://secure.meetupstatic.com/s/img/457419671895069178/guest_home/video.mp4" autoplay="" loop=""></video>
    <div class="android-wear-band-text">
      <div class="mdl-typography--display-2 mdl-typography--font-thin">The best Activities in Sanya</div>
      <p class="mdl-typography--headline mdl-typography--font-thin">
        Android works perfectly with your favourite apps like Google Maps,
        Calendar and YouTube.
      </p>
      <p>
        <a class="mdl-typography--font-regular mdl-typography--text-uppercase android-alt-link" href="">
          Join us&nbsp;<i class="material-icons">chevron_right</i>
        </a>
      </p>
    </div>
  </div>
</div>
