<div class="android-more-section">
  <div class="android-section-title mdl-typography--display-1-color-contrast">More Activities from STLC</div>
  <div class="android-card-container mdl-grid">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="images/more-from-1.png">
      </div>
      <div class="mdl-card__title">
         <h4 class="mdl-card__title-text">Top Attracitions</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">The view of bright sunshine,
           blue water and wide beaches at Sanya, the southernmost tip of Hainan Province,
           attracts many regular visitors from both home and abroad year upon year.
           It is said that Sanya has the most well-preserved and beautiful beaches in all of China.
        </span>
      </div>
      <div class="mdl-card__actions">
         <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
           Check more
           <i class="material-icons">chevron_right</i>
         </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="images/more-from-4.png">
      </div>
      <div class="mdl-card__title">
         <h4 class="mdl-card__title-text">Water Sports</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Bordered by clear sea, Hainan Island's Sanya is an ideal place for water entertainment. Besides tasting fresh seafood and enjoying exotic natural beauties, you must try exciting water sports,
           such as diving, walking on the seafloor, and surfing</span>
      </div>
      <div class="mdl-card__actions">
         <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
           Join Us
           <i class="material-icons">chevron_right</i>
         </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="images/more-from-2.png">
      </div>
      <div class="mdl-card__title">
         <h4 class="mdl-card__title-text">Sanya Festivals</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Every lunar May 5 On Dragon Boat Festival every year, dragon boat contest is a poplular festival acitivity attracting thousands of people</span>
      </div>
      <div class="mdl-card__actions">
         <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
           Check Event Calendar
           <i class="material-icons">chevron_right</i>
         </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="images/more-from-3.png">
      </div>
      <div class="mdl-card__title">
         <h4 class="mdl-card__title-text">Night Life</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Owning to the local tropical climate, most of the locals' activities takes place after dusk. Therefore, experiencing Sanya's nightlife is the best way for you to participate in the local life.</span>
      </div>
      <div class="mdl-card__actions">
         <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
           Let's party
           <i class="material-icons">chevron_right</i>
         </a>
      </div>
    </div>
  </div>
</div>
